*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(144, 202, 183);
    height: 180vh;
    border: solid 10px darkblue;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-section h1{
    font-size: 32px;
    font-weight: bold;

}
.top-section h4{
    text-align: end;
}
.image-container{
    border-radius: 50px;
    overflow: hidden;
}
img{
    height: 200px;
    width: 200px;
}
.about-section{ text-align: justify;
    margin-top:  50px;

}
.about-section h2{
    font-size: 50px;
    margin-bottom: 10px;
}
 .biography h2{
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .biography p{
    margin-bottom: 10px;
 }
 .one{text-align: justify;
    margin-bottom: 20px;
    margin-left: 50px;
 }
 footer{
  margin: 50px;

 }
 footer p{
    text-align: end;
 }